<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8" />
    <!-- Media Query -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <meta name="keywords" content="dentista, clareamento, lentes de contato dental"> -->
    <!-- <meta name="robots" content="index,follow"> -->
    <!-- <meta name="description" content="centro integrado de reabilitação oral e odontologia especializada" /> -->

    <title>Aquarela Odontologia Digital</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="/stylesheets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Fontawesome Icons -->
    <!-- <link rel="stylesheet" href="/stylesheets/vendors/solid.min.css">
    <link rel="stylesheet" href="/stylesheets/vendors/brand.min.css"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/css/style.css" />

    <!-- Minified CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/index-5c180860b116b1aa8b39110c82abab73.min.css"> -->

    <!-- Page Icon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/img/title-logo.png" /> -->

  </head>

  <body id="page-top">
    <nav>
      <div class="logo">
        <img src="/images/logo-cabeçalho.png" alt="">
      </div>
      <div class="not-logo">
        <div class="contact">
          <i class="fas fa-phone-alt"></i>
          <div class="phone-numbers">
            <div>
              <span class="location">Brasília Shppping</span>
              <span><b>(61) 3327-0523</b></span>
            </div>
            <div>
              <span class="location">Taguatinga</span>
              <span><b>(61) 3352-5735</b></span>
            </div>
          </div>
        </div>
        <ul class="navigation">
          <a href="">
            <li>Tratamentos</li>
          </a>
          <a href="">
            <li>Nossos Diferenciais</li>
          </a>
          <a href="">
            <li>Quem Somos</li>
          </a>
          <a href="">
            <li>Depoimentos</li>
          </a>

        </ul>
      </div>
    </nav>
    <section class="intro"></section>
    <section class="treatments"></section>
    <section class="different"></section>
    <section class="team"></section>
    <section class="testimonies"></section>

  </body>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/af6a9f2a9f.js" crossorigin="anonymous"></script>
</html>