<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8" />
    <!-- Media Query -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <meta name="keywords" content="dentista, clareamento, lentes de contato dental"> -->
    <!-- <meta name="robots" content="index,follow"> -->
    <!-- <meta name="description" content="centro integrado de reabilitação oral e odontologia especializada" /> -->

    <title>Aquarela Odontologia Digital</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="/stylesheets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <!-- Carousel styles -->
    <link rel="stylesheet" href="/javascript/vendors/flickity.min.css">

    <!-- Minified CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/index-5c180860b116b1aa8b39110c82abab73.min.css"> -->

    <!-- Page Icon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/img/title-logo.png" /> -->

  </head>

  <body id="page-top">
    <nav>
      <div class="logo">
        <img src="/images/logo-cabeçalho.png" alt="">
      </div>
      <div class="not-logo">
        <div class="contact">
          <i class="fas fa-phone-alt"></i>
          <div class="phone-numbers">
            <div>
              <span class="location">Brasília Shppping</span>
              <span class="number">(61) 3327-0523</span>
            </div>
            <div>
              <span class="location">Taguatinga</span>
              <span class="number">(61) 3352-5735</span>
            </div>
          </div>
        </div>
        <ul class="navigation">
          <a href="">
            <li>Tratamentos</li>
          </a>
          <a href="">
            <li>Nossos Diferenciais</li>
          </a>
          <a href="">
            <li>Quem Somos</li>
          </a>
          <a href="">
            <li>Depoimentos</li>
          </a>

        </ul>
      </div>
    </nav>

    <section class="intro">
      <h1>Odontologia Digital</h1>
      <h2>Você está pronto para ter o seu melhor sorriso?</h2>
      <p>
        Nossa missão é fornecer atendimento odontológico da mais alta qualidade em um ambiente confortável e familiar. Nossa clínica oferece uma gama abrangente de cuidados dentários, desde cuidados preventivos, restauradores e estéticos até casos de tratamento ortodôntico. Quer o seu objetivo seja uma dentição saudável e funcional ou uma remodelação do sorriso; Nossos dentistas trabalham com o desenvolvimento de um plano personalizado para seu bemestar oral contínuo partindo de suas necessidades.
      </p>

      <div class="stars">
        <div class="star">
          <div class="star-icon"><img src="/images/star.png" alt=""></div>
          <span>Aparelhos Transparentes</span>
        </div>
        <div class="star">
          <div class="star-icon"><img src="/images/star.png" alt=""></div>
          <span>Odontologia Preventiva</span>
        </div>
        <div class="star">
          <div class="star-icon"><img src="/images/star.png" alt=""></div>
          <span>Odontologia Estética</span>
        </div>
        <div class="star">
          <div class="star-icon"><img src="/images/star.png" alt=""></div>
          <span>Invisalign</span>
        </div>
        <div class="star">
          <div class="star-icon"><img src="/images/star.png" alt=""></div>
          <span>Ortodontia</span>
        </div>
        <div class="star">
          <div class="star-icon"><img src="/images/star.png" alt=""></div>
          <span>Odontopediatria</span>
        </div>
      </div>

      <div class="call-to-action">
        <div class="callout">Agende agora <br> uma consulta!</div>
        <form action="" method="">
            <input type="text" id="name" name="name" placeholder="Nome">
            <input type="text" id="phone" name="phone" placeholder="Whatsapp">
            <input type="text" id="treatment" name="treatment" placeholder="Tratamento">
            <button id="submit" type="submit">ENVIAR</button>
          </form>
      </div>

      <div class="compliments">
        <div class="compliment">
          <div class="compliment-icon"><img src="/images/melhores-profissionais.png" alt=""></div>
          <span>Os Melhores Profissionais</span>
        </div>
        <div class="compliment">
          <div class="compliment-icon"><img src="/images/tecnologia-de-ponta.png" alt=""></div>
          <span>Tecnologia de Ponta</span>
        </div>
        <div class="compliment">
          <div class="compliment-icon"><img src="/images/tratamento-personalizado.png" alt=""></div>
          <span>Tratamento Personalizado</span>
        </div>
        <div class="compliment">
          <div class="compliment-icon"><img src="/images/melhor-localização.png" alt=""></div>
          <span>Melhor Localização</span>
        </div>
      </div>

      <div class="signboard">
        <div class="whatsapp">
          <i class="fab fa-whatsapp"></i>
          <span>Taguatinga <br> Trade Center</span>
        </div>
        <div class="sign">
          <span>Horário de Atendimento</span>
          <span class="neon">Segunda - Sexta | 8h - 18h</span>
        </div>
        <div class="whatsapp">
          <i class="fab fa-whatsapp"></i>
          <span>Brasília <br> Shopping</span>
        </div>
      </div>
    </section>

    <section class="treatments">
      <h1>Tratamentos</h1>

      <div class="gallery js-flickity">
        <a href="" class="gallery-cell">
          <img src="/images/invisalign.jpg" alt="Invisalign"></img>
          <button>Invisalign</button>
        </a>
        <a href="" class="gallery-cell">
          <img src="/images/odontopediatria.jpg" alt="odontopediatria"></img>
          <button>Odontopediatria</button>
        </a>
        <a href="" class="gallery-cell">
          <img src="/images/aparelhos-transparentes.png" alt="Aparelhos Transparentes"></img>
          <button>Aparelhos Transparentes</button>
        </a>
        <a href="" class="gallery-cell">
          <img src="/images/restauracoes-esteticas.jpg" alt="Restaurações Estéticas"></img>
          <button>Restaurações Estéticas</button>
        </a>
      </div>

      <button class="call-to-action">
        Entre em<br>contato!
      </button>
    </section>
    <section class="different"></section>
    <section class="team"></section>
    <section class="testimonies"></section>

  </body>
  <!-- Carousel JS -->
  <script src="/javascript/vendors/flickity.pkgd.min.js"></script>
  <script src="/javascript/vendors/main.js"></script>
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/af6a9f2a9f.js" crossorigin="anonymous"></script>
</html>