<!DOCTYPE html>
<html lang="pt-br">

  <head>

    <meta charset="utf-8" />
    <!-- Media Query -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- <meta name="keywords" content="dentista, clareamento, lentes de contato dental"> -->
    <!-- <meta name="robots" content="index,follow"> -->
    <!-- <meta name="description" content="centro integrado de reabilitação oral e odontologia especializada" /> -->

    <title>Aquarela Odontologia Digital</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="/stylesheets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <!-- <link href="/stylesheets/vendors/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/vendors/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/style.scss" />

    <!-- Minified CSS -->
    <!-- <link rel="stylesheet" href="/stylesheets/index-5c180860b116b1aa8b39110c82abab73.min.css"> -->

    <!-- Page Icon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/img/title-logo.png" /> -->

  </head>

  <body id="page-top">
    olá


    <!-- Less Compiler -->
    <script src="//cdn.jsdelivr.net/npm/less@3.13" type="text/javascript"></script>
  </body>

</html>